{% extends "::base.html.twig" %}

{% block title %}Tests{% endblock %}

{% block body %}
    Tests

    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1"></div>
        <div class="col-xs-10 col-sm-10 col-md-10">
            {% if tests %}
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for test in tests %}
                            {{ test.id }}
                            {{ test.title }}
                            {{ test.time }}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Nothing to show
            {% endif %}
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1"></div>
    </div>
{% endblock %}