{% extends "::base.html.twig" %}

{% block title %}Tests{% endblock %}

{% block body %}
	<div class="container">
		{% block page_header %}
			<h1>Tests</h1>
		{% endblock %}

		{% if tests %}
			<table class="table table-condensed">
				<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Time</th>
				</tr>
				</thead>
				<tbody>
					{% for test in tests %}
						<tr>
							<td>{{ test.id }}</td>
							<td>
								<a href="{{ path('certification_test_view', {'testId': test.id}) }}">
									{{ test.title }}
								</a>
							</td>
							<td>{{ test.time }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			Nothing to show
		{% endif %}
	</div>
{% endblock %}